body {
  margin: 0 0 !important;
  padding: 0 0 !important;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex !important;
  justify-content: center;
  padding-top: 10vh;
  box-sizing: border-box;
}

#main {
  width: 100%;
  max-width: 1200px !important;
  font-size: 16px !important;
}

a {
  font-size: 1.5em !important;
  font-weight: 700 !important;  
}

fieldset {
  display: flex !important;
  flex-direction: column;
}

button {
  color: #000;
  font-size: 1.5em !important;
  font-weight: 700 !important;
}

.panel-body {
  color: #000;
}
